@model List<DiscussionIndexModel>

<div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
        <h1 class="w3-text-green w3-border-bottom">Câu hỏi với tag là @TempData["TagName"]</h1>
        @foreach (var discussion in Model)
        {
            <div class="w3-row w3-border-bottom">
                <p><small>Author: <a href="#"> @discussion.UserName</a> posted at: @discussion.DatePosted.ToString("dd/MM/yyyy hh:mm:ss tt")</small></p>
                <h3>
                    <a class="w3-text-blue w3-hover-red" style="text-decoration: none" asp-controller="Article" asp-action="Article" asp-route-id="@discussion.Id">@discussion.DiscussionName</a>
                </h3>
                <p>
                    Tags:
                    @foreach (var tag in discussion.Tags)
                    {
                        <a class="w3-tag w3-teal w3-hover-red" asp-controller="Discussion" asp-action="DiscussionByTag" asp-route-id="@tag.Id">@tag.Name</a>
                    }

                </p>
                <p>
                    <span class="w3-tooltip">
                        <i class="fas fa-eye"></i><span class="w3-text w3-tag w3-white w3-animate-opacity">Lượt xem:</span>@discussion.ViewCount
                    </span>
                    <span class="w3-tooltip">
                        <i class="fas fa-bookmark"></i><span class="w3-text w3-tag w3-white w3-animate-opacity">Bookmark:</span>@discussion.BookmarkCount
                    </span>
                    <span class="w3-tooltip">
                        <i class="fas fa-comments"></i><span class="w3-text w3-tag w3-white w3-animate-opacity">Bình luận:</span>0
                    </span>
                </p>
            </div>
        }



    </div>
</div>


<!-- Pagination -->
<div class="w3-center w3-padding-32">
    <div class="w3-bar">
        <a class="w3-button w3-black" href="#">1</a>
        <a class="w3-button w3-hover-black" href="#">2</a>
        <a class="w3-button w3-hover-black" href="#">3</a>
        <a class="w3-button w3-hover-black" href="#">4</a>
        <a class="w3-button w3-hover-black" href="#">5</a>
        <a class="w3-button w3-hover-black" href="#">»</a>
    </div>
</div>