
@model List<ArticleIndexModel>

<div class="w3-row w3-padding-64">
    <div class="w3-container">
        <h1 class="w3-text-green w3-border-bottom">Tìm kiếm theo tag</h1>
        <div class="w3-row">
            <a href="javascript:void(0)" onclick="openCity(event, 'Article');">
                <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-red">Article</div>
            </a>
            <a href="javascript:void(0)" onclick="openCity(event, 'Discussion');">
                <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">Discussion</div>
            </a>
        </div>

        <div id="Article" class="w3-container city">
            <h2>Article Search</h2>
            <form asp-controller="Article" asp-action="SearchResult" method="get">
                <label class="w3-text-teal"><b>Từ khóa</b></label>
                <br>
                <input type="text" class="w3-input w3-border" style="width:30%" name="SearchString" value="@ViewBag.SearchString" placeholder="Tìm theo từ khóa" />
                <label class="w3-text-teal"><b>Chọn tag tìm kiếm</b></label>
                <br>
                <input type="text" class="w3-input w3-border" style="width:30%" name="TagName" value="@ViewBag.TagName" placeholder="Tìm theo tag" />
                <br>
                <input type="submit" class="w3-button w3-green w3-hover-red" value="Search" />
            </form>

        </div>

        <div id="Discussion" class="w3-container city" style="display:none">
            <h2>Discussion Search</h2>
            <form asp-controller="Discussion" asp-action="SearchResult" method="get">
                <label class="w3-text-teal"><b>Từ khóa</b></label>
                <br>
                <input type="text" class="w3-input w3-border" style="width:30%" value="@ViewBag.SearchString" name="SearchString" placeholder="Tìm theo từ khóa" />
                <label class="w3-text-teal"><b>Chọn tag tìm kiếm</b></label>
                <br>
                <input type="text" class="w3-input w3-border" style="width:30%" value="@ViewBag.TagName" name="TagName" placeholder="Tìm theo tag" />
                <br>
                <input type="submit" class="w3-button w3-green w3-hover-red" value="Search" />
            </form>
        </div>

    </div>
    <script>
        function openCity(evt, cityName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.firstElementChild.className += " w3-border-red";
        }
    </script>
    <div id="results" class="w3-twothird w3-container">
        <h1 class="w3-text-green w3-border-bottom">Kết quả tìm kiếm</h1>
        @if (Model.Count == 0)
        {
            <p>Không tìm thấy kết quả nào...</p>
        }
        @foreach (var article in Model)
        {
            <div class="w3-row w3-border-bottom">
                <p><small>Author: <a href="#"> @article.UserName</a> posted at: @article.DatePosted.ToString("dd/MM/yyyy hh:mm:ss tt")</small></p>
                <h3>
                    <a class="w3-text-blue w3-hover-red" style="text-decoration: none" asp-controller="Article" asp-action="Article" asp-route-id="@article.Id">@article.ArticleName</a>
                </h3>
                <p>
                    Tags:
                    @foreach (var tag in article.Tags)
                    {
                        <a class="w3-tag w3-teal w3-hover-red" asp-controller="Article" asp-action="ArticleByTag" asp-route-id="@tag.Id">@tag.Name</a>
                    }

                </p>
                <p>
                    <span class="w3-tooltip">
                        <i class="fa fa-eye"></i><span class="w3-text w3-tag w3-white w3-animate-opacity">Lượt xem:</span>@article.ViewCount
                    </span>
                    <span class="w3-tooltip">
                        <i class="fa fa-bookmark"></i><span class="w3-text w3-tag w3-white w3-animate-opacity">Bookmark:</span>@article.BookmarkCount
                    </span>
                    <span class="w3-tooltip">
                        <i class="fa fa-comments"></i><span class="w3-text w3-tag w3-white w3-animate-opacity">Bình luận:</span>0
                    </span>
                </p>
            </div>
        }



    </div>
</div>


<!-- Pagination -->
<div class="w3-center w3-padding-32">
    <div class="w3-bar">
        <a class="w3-button w3-black" href="#">1</a>
        <a class="w3-button w3-hover-black" href="#">2</a>
        <a class="w3-button w3-hover-black" href="#">3</a>
        <a class="w3-button w3-hover-black" href="#">4</a>
        <a class="w3-button w3-hover-black" href="#">5</a>
        <a class="w3-button w3-hover-black" href="#">»</a>
    </div>
</div>